@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Movie List";
}

<section>
    <h2>All Movies</h2>
    <p>Razor view for Index action method</p>
</section>